div.container {
  padding: 10px 0;
}

.img-howToPlay {
  margin: 0 auto;
  max-height: 300px;
  max-width: 300px;
}

button.badge, button span.badge, button i.badge {
  background-color: inherit;
}

.mainView {
  display: flex;
  justify-content: center;
}

.imgElement {
  padding: 0 20px;
}

form {
  padding-bottom: 20px;
}
