body {
  background: url("../img/squairy_light.png");
}

div.container {
  padding: 10px 0;
}

.img-howToPlay {
  margin: 0 auto;
  max-height: 300px;
  max-width: 300px;
}

button.badge, button span.badge, button i.badge, #js-playerChoiceView span.badge, #js-computerChoiceView span.badge {
  background-color: inherit;
}

#js-playerChoiceView div, #js-computerChoiceView div {
  border-radius: 5px;
}
#js-playerChoiceView i, #js-computerChoiceView i {
  padding: 10px;
}

.mainView {
  display: flex;
  justify-content: center;
}

.imgElement {
  padding: 0 20px;
}

form {
  padding-bottom: 20px;
}
